<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HitList.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>326D350C1C3F6BDF00B41A56</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>326D35231C3F6BDF00B41A56</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>326D352E1C3F6BDF00B41A56</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
